body{
    background-color: #e6ffff!important;
}

.robot_table{
    width: 800px;
    margin-top: 2%;
    margin-left: 25%;
    background-color: #e6ffff;
}
.robotAddDiv{
    text-align: center;
}

.winner_robot_div{
    width: 20%;
    margin: 10px auto;
    text-align: center;
    background-color: #b3ffb3;
    border-radius: 12px;
}

.winner_p{
    margin: 10px;
    text-align: left;
    color: black;
}

.btn{
    margin-left: 10px;
}