<div class="modal fade" id="robotWarModal" tabindex="-1" aria-labelledby="robotWarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="robotWarModalLabel">Szerkesztés</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Név:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-type" class="col-form-label">Típus:</label>
            <select class="form-select" id="robotTypeSelect">
                <option value="1">Brawler</option>
                <option value="2">Rouge</option>
                <option value="3">Assault</option>
              </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveModalButton">Mentés</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
      </div>
    </div>
  </div>
</div>